.boxCarousel {
    top: 15%;
    display: block;
    width: 70%;
    height: 50%;
    overflow: hidden;
    position: absolute;
    margin: auto 0%;
    left: 15%;
    border-radius: 10px;
    box-shadow: 10px 10px 8px #ccc;
}

.boxCarousel>* {
    position: absolute;
    display: block;
    animation: slide 12s infinite;
    overflow: hidden;
}

.boxCarousel span {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.boxCarousel span:nth-child(1) {
    left: 0%;
    animation-delay: -1s;
    background-image: url('../../assets/img/same.jpg');
    background-position: center;
    background-size: cover;
}

.boxCarousel span:nth-child(2) {
    animation-delay: 2s;
    background-image: url('../../assets/img/love.png');
    background-position: center;
    background-size: cover;
}

.boxCarousel span:nth-child(3) {
    animation-delay: 5s;
    background-image: url('../../assets/img/workhard.jpg');
    background-position: center;
    background-size: cover;
}

.boxCarousel span:nth-child(4) {
    left: 0%;
    animation-delay: 8s;
    background-image: url('../../assets/img/write.png');
    background-position: center;
    background-size: cover;
}

@keyframes slide {
    0% {
        left: 100%;
        width: 100%;
    }
    5% {
        left: 0%;
    }
    25% {
        left: 0%;
    }
    30% {
        left: -100%;
        width: 100%;
    }
    30.0001% {
        left: -100%;
        width: 0%;
    }
    100% {
        left: 100%;
        width: 0%;
    }
}