
.notFound{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.notFound span{
    font-size: 100px;
    font-weight: bold;
    color: #007BFF;
}
.notFound p{
    margin-left: 20px;
    font-size: 50px;
    font-weight: bold;
    color: black;
}