.contSocial {
    width: 20px;
    height: 100px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto 0px;
}

.contSocial a span {
    margin-bottom: 2px;
    font-size: 30px;
    width: 35px;
    height: 33px;
    transition: 0.5s;
    display: flex;
    position: absolute;
    border-radius: 5px;
}

.contSocial i {
    margin-bottom: 2px;
    width: 35px;
    height: 35px;
    font-size: 35px;
    transition: 0.5s;
}

.contSocial a:hover i {
    transform: translate(23px);
}
.contSocial a:hover span:nth-child(1){
    transform: translate(16px);
    opacity: 0.6;
}
.contSocial a:hover span:nth-child(2){
    transform: translate(8px);
    opacity: 0.5;

}
.contSocial a:hover span:nth-child(3){
    transform: translate(1px);
    opacity: 0.4;
}
.contSocial a:hover:nth-child(1) span {
    background-color: #3A559F;
}
.contSocial a:hover:nth-child(2) span {
    background-color: #e4405f;
}
.contSocial a:hover:nth-child(3) span {
    background-color: #0077B5;
}
.contSocial a:nth-child(1) i {
    color: #3A559F;
}
.contSocial a:nth-child(2) i {
    color: #e4405f;
}
.contSocial a:nth-child(3) i {
    color: #0077B5;
}