nav {
    position: fixed;
    top: 3%;
    left: 3%;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.black {
    top: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, .8);
    transition: .5s;
}

.black ul li a {
    color: white;
    padding: 22px 60px;
}

nav .logo {
    transition: .5s;
}

nav .logo img {
    width: 100px;
    height: 50px;
    transition: .5s;
}

nav ul {
    float: right;
    display: flex;
    margin: 0%;
    margin-right: 10%;
    margin-top: 10px;
    padding: 0%;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #262626;
    padding: 5px 60px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul li .active {
    background-color: #ccc;
    transition: .5s;
}

nav ul li a:hover {
    background-color: #ccc;
    transition: .5s;
}

@media (max-width: 988px) {
    .toggle {
        position: relative;
        width: 50px;
        height: 50px;
        margin-right: 45px;
        float: right;
        align-items: center;
        cursor: pointer;
        font-size: 30px;
        background-color: rgba(0, 0, 0, .8);
    }
    .toggle i {
        position: absolute;
        width: 45%;
        height: 2px;
        margin: auto;
        left: 0;
        right: 0;
        background-color: white;
        transition: 0.3s ease, opacity 0.1s ease 0.1s;
    }
    .active i {
        transform: rotate(50deg);
        position: absolute;
        width: 45%;
        height: 2px;
        margin: auto;
        left: 0;
        right: 0;
        background-color: white;
        transition: 0.3s ease, opacity 0.2s ease 0.1s;
    }
    .active i:nth-child(2) {
        background-color: black;
        transition: 0.5s;
    }
    .toggle i:nth-child(1) {
        top: 40%;
    }
    .toggle i:nth-child(2) {
        top: 50%;
    }
    .toggle i:nth-child(3) {
        top: 60%;
    }
    nav ul {
        display: none;
    }
    .look {
        display: block;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        overflow: none;
        background-color: white;
        transition: 0.5s;
        color: black;
    }
    .look ul {
        display: block;
        margin: auto;
        left: 0%;
        box-sizing: border-box;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
    .look ul li {
        display: block;
        margin: auto;
        left: 0%;
        box-sizing: border-box;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
    .look ul li a {
        display: block;
        margin: auto;
        text-align: center;
        font-size: 30px;
        width: 100%;
        height: 100%;
        margin: 10px;
    }
    .black ul li a {
        color: black;
        padding: 22px 60px;
    }
}