<div class="contSocial">
    <a target="blank" href="https://www.facebook.com/ramkenny.cardenasreyes">
        <span></span>
        <span></span>
        <span></span>
        <i class="icon fab fa-facebook"></i>
    </a>
    <a target="blank" href="https://www.instagram.com/kennycr/">
        <span></span>
        <span></span>
        <span></span>
        <i class="icon fab fa-instagram"></i>
    </a>
    <a target="blank" href="https://www.linkedin.com/in/ram-kenny-cardenas-reyes-69128b180/">
        <span></span>
        <span></span>
        <span></span>
        <i class="icon fab fa-linkedin"></i>
    </a>
</div>