<nav class="">
    <div class="logo">
        <div class="toggle">
            <i></i>
            <i></i>
            <i></i>
        </div>
        <img src="../../../assets/img/brand.png" alt="Rkcr">
        <ul>
            <li> <a class="active" href="#">Home</a></li>
            <li> <a href="#">About me</a></li>
            <li> <a href="#">Portfolio</a></li>
            <li> <a href="#">Contact me</a></li>
        </ul>
    </div>
</nav>