/* You can add global styles to this file, and also import other style files */


/* Aqui esta el error del scroll es el */

html,
body {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    background-color: #ccc;
}

.cont {
    margin: 1%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 60%;
    top: 30%;
}